# Temporary storage of requirements before conversion to pypi package
numpy
opencv-python

#TRiP Requirements
#matplotlib
#pandas
#pillow


#Dash Requirements
dash
#dash-canvas
#dash_extensions
dash-uploader --pre
packaging==21.3.0